html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  color: #222;
  font-size: 1.125rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, nav a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

nav ol {
  list-style-type: none;
}

figcaption {
  font-style: italic;
  text-align: center;
}

main figure + p {
  font-weight: bold;
}

strong {
  font-weight: normal;
}

blockquote > p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote > footer {
  font-size: .8rem;
}

h2 + ol {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

dt {
  font-weight: bold;
}

h2 + ul {
  list-style-type: circle;
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}
